name: test

on:
  merge_group: ~
  workflow_dispatch: ~
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6

      - run: .github/workflows/replace_dates.sh > /tmp/oncall-calendar.ics

      - uses: ./
        with:
          webcal_url: file:///tmp/oncall-calendar.ics
